* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 218, 233);
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: crimson;
}

header {
    text-align: center;
    font-weight: bolder;
}

header h1 {
    font-size: 70px;
}

.start {
    font-size: 6.5em;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin: 0 30%;
}

.start-btn, .next-btn {
    font-size: 3.0em;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 2.5em;
}


.start-btn:hover, .next-btn:hover {
    background-color: rgb(139, 200, 202);
    transition: all 0.3s ease 0s;
    border-radius: 50px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 200px;
    width: 600px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 1% 0;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

.btn {
    border: 1px solid rgb(4, 18, 78);
    background-color: rgb(14, 48, 199);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    background-color: fuchsia;
}

.btn.correct {
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: crimson;
}

.hide {
    display: none;
}